@mixin animation(
    $name, 
    $duration: 1s,
    $timing: ease, 
    $count: infinite, 
    $direction: normal, 
    $mode: forwards
) 
{
    animation: {
        name: $name;
        duration: $duration;
        timing-function: $timing;
        iteration-count: $count;
        direction: $direction;
        fill-mode: $mode;
    }
}