@use 'variables' as *;
@use 'media-mixin' as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $mainBgColor;
}

#global-container {
    max-width: 1000px;
    margin: 0 auto;
}

#top-container {
    @include mq() {
        padding: 0 40px;
    }
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 0 40px;
}

.section-title {
    font-size: $sTitleFontSize;
    margin-bottom: 12px;
}